[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rdo-packagers
	owner = group user/Dan Prince (dprince)
[access "refs/for/refs/*"]
	read = group user/Dan Prince (dprince)
	push = group user/Dan Prince (dprince)
	label-Code-Review = -2..+2 group user/Dan Prince (dprince)
	label-Verified = -1..+1 group user/Dan Prince (dprince)
	rebase = group user/Dan Prince (dprince)
	removeReviewer = group user/Dan Prince (dprince)
	submit = group user/Dan Prince (dprince)
[access "refs/heads/*"]
	read = group user/Dan Prince (dprince)
	create = group user/Dan Prince (dprince)
	push = +force group user/Dan Prince (dprince)
	pushMerge = group user/Dan Prince (dprince)
[access "refs/tags/*"]
	push = +force group user/Dan Prince (dprince)
	pushTag = group user/Dan Prince (dprince)
	pushSignedTag = group user/Dan Prince (dprince)
