[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dprince
[access "refs/for/refs/*"]
	read = group user/dprince
	push = group user/dprince
	label-Code-Review = -2..+2 group user/dprince
	label-Verified = -1..+1 group user/dprince
	rebase = group user/dprince
	removeReviewer = group user/dprince
	submit = group user/dprince
[access "refs/heads/*"]
	read = group user/dprince
	create = group user/dprince
	push = +force group user/dprince
	pushMerge = group user/dprince
[access "refs/tags/*"]
	push = +force group user/dprince
	pushTag = group user/dprince
	pushSignedTag = group user/dprince
